@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  font-family: "Nunito";
  background-color: black;
  color: white;
}
a {
  color: whitesmoke;
  text-decoration: none;
}
.content {
  /* max-width: 960px; */
  margin: 20px;
}

nav {
  display: flex;
  background-color: rgb(65, 17, 17);
  margin: 20px;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.name {
  color: whitesmoke;
  padding: 10px;
  font-size: 30px;
  font-weight: bolder;
}

.nav-button {
  display: flex;
    margin: 10px;
    border: 1px solid whitesmoke;
    padding: 10px;
    background-color: rgb(170, 37, 37, 0.2);
    border-radius: 5px;
}

.cart-value {
  width: 25px;
  height: 25px;
  border : 2px solid white;
  margin-left: 10px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(113, 67, 67, 0.4);
}
